.bg-amber {
  background-color: #e2d400 !important;
}
.bg-green {
  background-color: #45BD41 !important;
}

.q-linear-progress__stripe, .q-linear-progress__track, .q-linear-progress__model {
  color: #e2d400 !important;
}