.bg-amber {
  background-color: #E8DD4E !important;
}
.bg-green {
  background-color: #45BD41 !important;
}

.q-linear-progress__stripe, .q-linear-progress__track, .q-linear-progress__model {
  color: #e2d400 !important;
}

.text-white {
  color: #e1e1e1 !important;
}

.text-dark {
  color: #1f1f1f !important;
}

.bg-dark {
  background: #1f1f1f !important;
}